<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Top Rated" tabIcon="ribbon"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Followers" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Following" tabIcon="contacts"></ion-tab>
</ion-tabs>
