page-main {
    .voting
    {
        position: absolute;
        width: 100vw;
        height: map-get($map: $height, $key: height_50);
        background-color: black;
        z-index: 100;
        bottom: $tabs-ios-tab-min-height;
    }
}
