<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custombar></custombar>
</ion-header>


<ion-content >
    <customcard *ngFor="let member of member_array" [member]="member"></customcard>
</ion-content>

<voting class="voting"></voting>