page-home {
    .subcontent{
        position: relative;
        width: 100vw;
        height: 44vh;
        img{
            width: 100%;
            height: 100%;
            background-size: cover;
        }
        button{
            position: absolute;
            width: 100%;
            height: 20%;
            top: 80%;
            background-color: black;
            font-weight: bold;
            font-size: map-get($map: $constant_font, $key: font_20);
            color: map-get($map: $customcolors, $key: malecolor);
        }
    }
}
