<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <custombar></custombar>
</ion-header>



<ion-content>
  <div class="subcontent">
    <img src="assets/imgs/woman1.jpg">
    <button (click)="onclickwomanbutton()" ion-button text-center>VOTING FOR WOMAN</button>
  </div>
  <div class="subcontent">
    <img src="assets/imgs/man1.jpg">
    <button (click)="onclickmanbutton()" ion-button text-center>VOTING FOR MAN</button>
  </div>

</ion-content>
