<ion-row>
    
    <ion-col text-center class="between" (click)="onclickfemalebutton()">
        <button ion-button clear>
            <img src="assets/imgs/female.png">
        </button>
    </ion-col>

    <ion-col text-center (click)="onclickmalebutton()">
        <button ion-button clear>
            <img src="assets/imgs/male.png">
        </button>
    </ion-col>

</ion-row>