voting {
    ion-row{
        width: 100%;
        height: map-get($map: $height, $key: height_50);

        .between{
            border-right: 2px solid map-get($map: $customcolors, $key:malecolor);
        }
    }
}
