<!--
  Generated template for the TopratedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar text-center>
    <ion-title>Top Rated</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

</ion-content>
