// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-toolbar{
    height: 50px;
}

ion-icon{
    font-size: map-get($map: $constant_font, $key: font_25);
}

$tabs-md-tab-icon-color-active: black;
$tabs-ios-tab-icon-color-active: black;

.tabbar a[aria-selected=true] {
    // border: none;
    box-shadow: 0px 2px 0px 0px map-get($map: $customcolors, $key:malecolor) inset;  
    color:  map-get($map: $customcolors, $key:malecolor);
}

.tabbar a[aria-selected=false] {
    color: black;
}

.tabs-ios .tab-button[aria-selected=true] 
{
    color:  map-get($map: $customcolors, $key:malecolor);
}

.tabs-md .tab-button[aria-selected=true]
{
    color:  map-get($map: $customcolors, $key:malecolor);
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: map-get($map: $customcolors, $key:malecolor) !important;
}
  
  .tabs-ios .tab-button[aria-selected=false] .tab-button-icon {
    color:  black;
  }

  .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color:  map-get($map: $customcolors, $key:malecolor);
}
  
  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color:  map-get($map: $customcolors, $key:malecolor);
  }