<ion-card>
  <img class="profile_photo" src="assets/imgs/{{member.img}}">
  <ion-item>
     
      <ion-avatar item-start>
          <img src="assets/imgs/{{member.img}}">
      </ion-avatar>

        <div>
            <h2>{{member.name}}</h2>
            <p class="info">20</p>  
            <p class="info"> Paris</p>
        </div>

        <div item-end>
            <button large ion-button icon-start clear color="dark"> 
                <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
                Follow
            </button>
        </div>
        
  </ion-item>

    

    <!-- <ion-card-content>
  
    </ion-card-content> -->

    <!-- <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
    </ion-row> -->

  </ion-card>
