customcard {
    ion-item{
        div{
            margin-left: 10px;
            float: left;
           
        }

        .info{
            color: black;
            margin-left: map-get($map: $constant_margin, $key: margin_10);
            float: left;
        }
    }

    ion-card {
        border-top: 3px solid map-get($map: $customcolors, $key:cardborder);
        border-bottom: 1spx solid map-get($map: $customcolors, $key:cardborder);

        .profile_photo{
            height: 350px;
            background-size: cover;
        }
     }

   
}
