
  <ion-toolbar>
    <ion-row>
      <ion-col col-7 item-starts>
        <p class="main_title"> FACE BATTLE</p>
      </ion-col>

      <ion-col col-5 item-end text-center>
          <ion-icon large color="dark" ios="ios-search" md="md-search"></ion-icon>
          <ion-icon large color="dark" ios="ios-image" md="md-image"></ion-icon>
          <ion-icon large color="dark" ios="ios-exit" md="md-exit"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
