custombar {
    ion-toolbar{
        .main_title{
            margin-left: map-get($map: $constant_margin, $key: margin_10);
            color: map-get($map: $customcolors, $key: malecolor);
            font-size: map-get($map: $constant_font, $key: font_13);
            font-weight: bold;
        }

        ion-row{
            align-items: center;
        }
        ion-icon{
            margin-left: map-get($map: $constant_margin, $key: margin_10);
            font-size: map-get($map: $constant_font, $key: font_25);
        }

        .button-pink {
            width: 90%;
          }
    }
}
