<!--
  Generated template for the FollowersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>Followers</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

</ion-content>
